li {
    list-style: none;
    display : flex ;
  
}

ul {
    margin: 0;
    display: flex;
    
    align-items: center;
}
#character {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.container{
    width: 100%;
    height: 100%;
    border: 1px solid red;
}

#character > ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap :wrap;
}
#character > ul > li {
   width: 100%;
   height: 100%;
    display: flex;
    flex-shrink: column;
    align-items: center;
}